<h1>Signup to be apart of the world of pokemon</h1>
<form method="post" action="/signup">
        Username: <input type="text" name="user[username]">
        Email: <input type="text" name="user[email]">
        Password: <input type="text" name="user[password]">
        <input type="submit" value="Signup">
</form><br>

<h3>Already a member? Sign in Here</h3>
<a href="/signin">log In</a>
