<h1>Hi and welcome to the pokedatabase!</h1>

<h3>Here is where all our pokemon greatest catchers researchers Enthusiasts and trainers come to log in there data on the 
pokemon they come accross so they can keep record of the pokemon Journey   </h3><br>
<h4>click the link below so create an account or to log back in!</h4>
<a href="/signup">Sign up</a><br>
<a href="/signin">log In</a>